---
import { Image, imageConfig } from 'astro:assets';
import Logo from '../assets/logo/4.png'
import Consulting from '../assets/beratung.jpg'
import NavLink from '../components/NavLink.astro'
import { links } from '../config/index'
import { $isNavToggleOpen } from '../store'

console.log($isNavToggleOpen)

---

<div class="bg-white">
  <div class="w-1/2">
  </div>
  <!--
    Mobile menu

    Off-canvas menu for mobile, show/hide based on off-canvas menu state.
  -->
  <div class="relative z-40 lg:hidden transition-opacity ease-linear duration-300" role="dialog" aria-modal="true">
    <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <!-- <div class="off-canvas-backdrop fixed inset-0 bg-black bg-opacity-25"></div> -->

    <div class="fixed inset-0 z-40 flex menu transition ease-in-out duration-300 transform">
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      <div class="relative flex w-full max-w-xs flex-col overflow-y-auto bg-white pb-12 shadow-xl">
        <div class="flex px-4 pb-2 pt-5">
          <button type="button" class="toggle-button relative -m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

    <div class="mt-2">
    <div class="border-b border-gray-200">
      <div class="-mb-px flex space-x-8 px-4" aria-orientation="horizontal" role="tablist">
        <button 
          id="tabs-1-tab-1" 
          class={`border-transparent mobile-nav-button text-gray-900 flex-1 whitespace-nowrap border-b-2 px-1 py-4 text-base font-medium ${!$isNavToggleOpen.value ? 'border-indigo-600 text-indigo-600' : ''}`} 
          aria-controls="tabs-1-panel-1" 
          role="tab" 
          type="button"
        >
          Dienstleistungen
        </button>
        <button 
          id="tabs-1-tab-2" 
          class={`border-transparent mobile-nav-button text-gray-900 flex-1 whitespace-nowrap border-b-2 px-1 py-4 text-base font-medium ${$isNavToggleOpen.value ? 'border-indigo-600 text-indigo-600' : ''}`} 
          aria-controls="tabs-1-panel-2" 
          role="tab" 
          type="button"
        >
          Unternehmen
        </button>
      </div>
    </div>
    <div id="tabs-1-panel-1" class={`space-y-10 px-4 pb-8 pt-10 ${!$isNavToggleOpen ? 'hidden' : ''}`} aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
      <div class="grid grid-cols-2 gap-x-4">
        <div class="group relative text-sm">
          <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
            <Image src={Consulting} alt="Models sitting back to back, wearing Basic Tee in black and bone." class="object-cover object-center">
          </div>
          <a href="#" class="mt-6 block font-medium text-gray-900">
            <span class="absolute inset-0 z-10" aria-hidden="true"></span>
            New Arrivals
          </a>
          <p aria-hidden="true" class="mt-1">Shop now</p>
        </div>
        <div class="group relative text-sm">
          <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
            <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-category-02.jpg" alt="Close up of Basic Tee fall bundle with off-white, ochre, olive, and black tees." class="object-cover object-center">
          </div>
          <a href="#" class="mt-6 block font-medium text-gray-900">
            <span class="absolute inset-0 z-10" aria-hidden="true"></span>
            Basic Tees
          </a>
          <p aria-hidden="true" class="mt-1">Shop now</p>
        </div>
      </div>
      <div>
        <p id="women-clothing-heading-mobile" class="font-medium text-gray-900">Leistungen</p>
        <ul role="list" aria-labelledby="women-clothing-heading-mobile" class="mt-6 flex flex-col space-y-6">
          {links[0].map(link => <NavLink link={link.link} name={link.name}/>)}    
        </ul>
      </div>
      <div>
        <p id="women-accessories-heading-mobile" class="font-medium text-gray-900">Collection</p>
        <ul role="list" aria-labelledby="women-accessories-heading-mobile" class="mt-6 flex flex-col space-y-6">
          {links[1].map(link => <NavLink link={link.link} name={link.name}/>)}    
        </ul>
      </div>
    </div>
  <div id="tabs-1-panel-2" class={`space-y-10 px-4 pb-8 pt-10 ${$isNavToggleOpen.value ? '' : 'hidden'}`} aria-labelledby="tabs-1-tab-2" role="tabpanel" tabindex="0">
    <div class="grid grid-cols-2 gap-x-4">
      <div class="group relative text-sm">
        <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
          <img src="https://tailwindui.com/img/ecommerce-images/product-page-04-detail-product-shot-01.jpg" alt="Drawstring top with elastic loop closure and textured interior padding." class="object-cover object-center">
        </div>
        <a href="#" class="mt-6 block font-medium text-gray-900">
          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
          New Arrivals
        </a>
        <p aria-hidden="true" class="mt-1">Shop now</p>
      </div>
      <div class="group relative text-sm">
        <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-06.jpg" alt="Three shirts in gray, white, and blue arranged on table with same line drawing of hands and shapes overlapping on front of shirt." class="object-cover object-center">
        </div>
        <a href="#" class="mt-6 block font-medium text-gray-900">
          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
          Artwork Tees
        </a>
        <p aria-hidden="true" class="mt-1">Shop now</p>
      </div>
    </div>
    <div>
      <p id="men-clothing-heading-mobile" class="font-medium text-gray-900">Unternehmen</p>
      <ul role="list" aria-labelledby="men-clothing-heading-mobile" class="mt-6 flex flex-col space-y-6">
        {links[2].map(link => <NavLink link={link.link} name={link.name}/>)}    
      </ul>
    </div>
    <div>
      <p id="men-accessories-heading-mobile" class="font-medium text-gray-900">Akademie</p>
      <ul role="list" aria-labelledby="men-accessories-heading-mobile" class="mt-6 flex flex-col space-y-6">
        {links[3].map(link => <NavLink link={link.link} name={link.name}/>)}    
      </ul>
    </div>
    <div>
      <p id="men-brands-heading-mobile" class="font-medium text-gray-900">Rechtliches</p>
      <ul role="list" aria-labelledby="men-brands-heading-mobile" class="mt-6 flex flex-col space-y-6">
        {links[4].map(link => <NavLink link={link.link} name={link.name}/>)}    
      </ul>
    </div>
  </div>
  </div>
  <div class="space-y-6 border-y border-royal-gray px-4 py-6">
    <div class="flow-root">
      <a href="#" class="-m-2 block p-2 font-medium text-gray-900">Anmelden</a>
    </div>
    <div class="flow-root">
      <a href="#" class="-m-2 block p-2 font-medium text-gray-900">Account erstellen</a>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <header class="relative bg-white">
    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="border-b border-royal-gray">
        <div class="flex h-24">
          <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
          <button type="button" class="toggle-open-button relative rounded-md bg-white p-2 text-gray-400 lg:hidden">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <!-- Logo -->
          <div class="ml-4 flex justify-center items-center lg:ml-0 lg:min-w-content">
            <a href="#">
              <span class="sr-only">Royal Prestige</span>
              <Image class="h-20 w-auto" src={Logo} alt="">
            </a>
          </div>
          <!-- Flyout menus -->
          <div class="hidden lg:ml-8 lg:flex lg:self-stretch lg:w-3/5 lg:justify-center ">
            <div class="flex h-full space-x-8">
              <a href="#" class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Home</a>
              <div class="flex dropdown-item group">
                <div class="relative flex">
                  <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                  <button type="button" class="dropdown-button women-flyout-menu border-transparent text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex gap-3 items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out">Dienstleistungen<svg class="group-hover:rotate-180 transition-all" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><polyline points="112 184 256 328 400 184" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg></button>
                </div>
                <div aria-expanded="false" class="flyout-overlay group-hover:opacity-100 absolute inset-x-0 top-full text-sm text-gray-500 -z-10 group-hover:z-10 opacity-0 transition ease-linear duration-200">
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
                  <div class="relative bg-white">
                    <div class="mx-auto max-w-7xl px-8">
                      <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-h-1 aspect-w-1 overflow-hidden bg-gray-100 group-hover:opacity-75">
                              <Image src={Consulting} alt="Models sitting back to back, wearing Basic Tee in black and bone." class="object-cover object-center">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                              Ins neue Leben starten
                            </a>
                            <p aria-hidden="true" class="mt-1">Termin vereinbaren</p>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-2 gap-x-8 gap-y-10 text-sm">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-900">Leistungen</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4 w-1/2">
                             {links[0].map(link => <NavLink link={link.link} name={link.name}/>)}                               
                            </ul>
                          </div>
                          <div>
                            <p id="Accessories-heading" class="font-medium text-gray-900">Collection</p>
                            <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              {links[1].map(link => <NavLink link={link.link} name={link.name}/>)}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex dropdown-item group">
                <div class="relative flex">
                  <button class="dropdown-button men-flyout-menu border-transparent text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex gap-3 items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out" aria-expanded="false">Unternehmen<svg class="group-hover:rotate-180 transition-all" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><polyline points="112 184 256 328 400 184" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg></button>
                </div>
                <div aria-expanded="false" id="flyout-overlay" class="flyout-overlay group-hover:opacity-100 absolute inset-x-0 top-full text-sm text-gray-500 -z-10 group-hover:z-10 opacity-0 transition ease-linear duration-200">
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
                  <div class="relative bg-white">
                    <div class="mx-auto max-w-7xl px-8">
                      <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
                              <img src="https://tailwindui.com/img/ecommerce-images/product-page-04-detail-product-shot-01.jpg" alt="Drawstring top with elastic loop closure and textured interior padding." class="object-cover object-center">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                              New Arrivals
                            </a>
                            <p aria-hidden="true" class="mt-1">Shop now</p>
                          </div>
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
                              <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-06.jpg" alt="Three shirts in gray, white, and blue arranged on table with same line drawing of hands and shapes overlapping on front of shirt." class="object-cover object-center">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                              Artwork Tees
                            </a>
                            <p aria-hidden="true" class="mt-1">Shop now</p>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-3 gap-x-8 gap-y-10 text-sm">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-900">Unternehmen</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              {links[2].map(link => <NavLink link={link.link} name={link.name}/>)}
                            </ul>
                          </div>
                          <div>
                            <p id="Accessories-heading" class="font-medium text-gray-900">Rechtliches</p>
                            <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              {links[3].map(link => <NavLink link={link.link} name={link.name}/>)}
                            </ul>
                          </div>
                          <div>
                            <p id="Brands-heading" class="font-medium text-gray-900">Akademie</p>
                            <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              {links[4].map(link => <NavLink link={link.link} name={link.name}/>)}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-auto flex items-center min-w-min">
            <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
              <a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Anmelden</a>
              <span class="h-6 w-px bg-royal-gray" aria-hidden="true"></span>
              <a href="#" class="text-sm font-medium text-gray-700 hover:text-gray-800">Account erstellen</a>
            </div>
            <!-- Search -->
            <div class="flex lg:ml-6">
              <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Search</span>
                <svg class="h-6 w-6 text-royal-gray" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
<script src="../scripts/navBar.ts"></script>